*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buscador{
    margin-left: 5px;
    margin-bottom: 4px;
}
.fav-btn{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    font-size: 10px;
}
